@using MOP.Common
@using MOP.Models.Inventory
@{
    ViewBag.Title = "Order";
    Layout = "~/Views/Shared/_MainLayoutWithOutHeader.cshtml";
}
@{
    var tempOrderList = ViewBag.OrderList == null ? new List<Order>() : ViewBag.OrderList as List<Order>;
    var tempCustomerList = ViewBag.CustomerList == null ? new List<Customer>() : ViewBag.CustomerList as List<Customer>;
    var tempEmployeeList = ViewBag.EmployeeList == null ? new List<Employee>() : ViewBag.EmployeeList as List<Employee>;
    var tempOrder = ViewBag.Order == null ? new Order() : ViewBag.OrderList as Order;
}
@using (Html.BeginForm("Order", "Inventory", FormMethod.Post))
{
    <div class="inner-window">
        <div class="inner-head">
            ORDER
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <!--Edit buttons starts here-->
        <div class="col-sm-12 bottom-header">
            <ul>
                <li id="Order_Add"><a href="#"><img src="/Content/MainLayout/images/icon-add-white.png" width="30" height="30"><span>Add</span></a></li>
                <li><a href="#"><img src="/Content/MainLayout/images/icon-edit-white.png" width="30" height="30"><span>Edit</span></a></li>
                <li><a href="#"><img src="/Content/MainLayout/images/icon-delete-white.png" width="30" height="30"><span>Delete</span></a></li>
                <li><a href="#"><img src="~/Content/MainLayout/images/icon-print-white.png" width="30" height="30"><span>Print</span></a></li>
                <li><a href="#"><img src="/Content/MainLayout/images/icon-exit-white.png" width="30" height="30"><span>Exit</span></a></li>
            </ul>
        </div>
        <!--Edit buttons ends here-->
        <div class="third-party-carriers">
            <!--Search starts here-->
            <div class="col-sm-12 search-container">
                <div class="col-sm-8 col-md-8 col-lg-8 no-padding">
                    <div class="col-sm-12 col-md-4 col-lg-4 no-padding first-col">
                        <div class="form-group">
                            <input class="form-control" placeholder="Search By Order Date or Employee Id">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 button-contr no-right-padding">
                        <button type="button" class="btn btn-primary" style="margin: 9px 0px;">Search</button>
                    </div>
                </div>

            </div>
            <!--Search ends here-->
            <!--Grid starts here-->
            <div class="col-sm-12 col-md-6 col-lg-6 grid-contr">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Customer Id</th>
                                <th>Employee Id</th>
                                <th>Order Date</th>
                                <th>Net Total</th>
                                <th>Discount</th>
                                <th>&nbsp;</th>
                               
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var order in tempOrderList)
                            {
                                <tr>
                                    <td>@Html.Raw(InventoryRepository.GetCustomerById(order.CustomerId))</td>
                                    <td>@Html.Raw(order.EmployeeId)</td>
                                    <td>@Html.Raw(order.OrderDate)</td>
                                    <td>@Html.Raw(order.NetTotal)</td>
                                    <td>@Html.Raw(order.Discount)</td>
                                    <td><a href="#"><img src="/Content/MainLayout/images/remove.png" width="30" height="30"></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-12 button-wrap">
                    <div class="col-sm-2 col-md-3 no-padding record-info">@Html.Raw(tempOrderList.Count) Records</div>
                </div>
            </div>
            <!--Grid ends here-->
            <div class="col-sm-12 col-md-6 col-lg-6 no-left-padding">
                <div class="right-section">
                    <div class="col-sm-10 col-md-12 col-lg-12 general-info no-padding">
                        <div class="col-sm-12 col-md-12 col-lg-12 no-right-padding no-left-padding first-col">
                            <div class="col-sm-12 col-md-12 col-lg-10 no-padding">
                                <div class="form-group">
                                    <h2>Order Information</h2>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-10 no-padding">
                                <div class="form-group">
                                    <label class="control-label">Customer :</label>
                                    <select name="CustomerId" class="selectpicker col-lg-6" >
                                        <option value='-1'>--select Employee--</option>
                                        @foreach (var customer in tempCustomerList)
                                        {
                                            <option value="@Html.Raw(customer.Id)">@Html.Raw(customer.CompanyName)</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-10 no-padding">
                                <div class="form-group">
                                    <label class="control-label">Employee :</label>
                                    <select name="EmployeeId" class="selectpicker col-lg-6">
                                        <option value='-1'>--select Employee--</option>
                                        @foreach (var employee in tempEmployeeList)
                                        {
                                            <option value="@Html.Raw(employee.Id)">@Html.Raw(employee.FirstName)</option>
                                        }

                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-10 no-padding">
                                <div class="form-group">
                                    <label class="control-label">Contact Title :</label>
                                    <input class="form-control" placeholder="" value="@Html.Raw(tempOrder.ContactTitle)" name="ContactTitle">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-10 no-padding">
                                <div class="form-group">
                                    <label class="control-label">Order Date :</label>
                                    <input id="orderDate" class="form-control" placeholder="Select Date" value="@Html.Raw(tempOrder.OrderDate)" name="OrderDate">
                                </div>
                                <script type="text/javascript">

                                    $(document).ready(function() {
                                        $('#orderDate').datepicker({
                                            format: "dd/mm/yyyy"
                                        });
                                    });
                                </script>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-10 no-padding">
                                <div class="form-group">
                                    <label class="control-label">Net Total :</label>
                                    <input class="form-control" placeholder="" value="@Html.Raw(tempOrder.NetTotal)" name="NetTotal">
                                </div>
                            </div>

                            <div class="col-sm-12 col-md-12 col-lg-10 no-padding">
                                <div class="form-group">
                                    <label class="control-label">Discount :</label>
                                    <input class="form-control" placeholder="" value="@Html.Raw(tempOrder.Discount)" name="Discount">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-10 address-info no-padding">
                                <div class="col-sm-10 col-md-12 col-lg-12 no-padding">
                                    <div class="form-group">
                                        <div class="col-sm-2 col-md-2 col-lg-2 button-contr no-right-padding">
                                            <input type="submit" value="Save"/>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 col-md-12 col-lg-10 no-padding">
                            <div class="form-group">

                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>

                </div><!--right-section Ends-->

            </div>
        </div>
        <!--Order Ends-->
    </div>
}
<script>
    $("#Order_Add").click(function () {
        // alert("test check point");
        $("form").submit();
    });
</script>

