@using MOP.Models.Inventory
@{
    ViewBag.Title = "Supplier";
    Layout = "~/Views/Shared/_MainLayoutWithOutHeader.cshtml";
}
@{
    var supplierList = ViewBag.SupplierList == null ? new List<Supplier>() : ViewBag.SupplierList as List<Supplier>;
    var supplier = ViewBag.Supplier == null ? new Supplier() : ViewBag.Supplier as Supplier;
}
@using (Html.BeginForm("Supplier", "Inventory", FormMethod.Post))
{
    <div class="inner-window">
        <div class="inner-head">
            SUPPLIER 
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <!--Edit buttons starts here-->
        <div class="col-sm-12 bottom-header">
            <ul>
                <li id="Supplier_Add"><a href="#"><img src="/Content/MainLayout/images/icon-edit-white.png" width="30" height="30"><span>Edit</span></a></li>
                <li><a href="#"><img src="/Content/MainLayout/images/icon-add-white.png" width="30" height="30"><span>Add</span></a></li>
                <li><a href="#"><img src="/Content/MainLayout/images/icon-delete-white.png" width="30" height="30"><span>Delete</span></a></li>
                <li><a href="#"><img src="/Content/MainLayout/images/icon-exit-white.png" width="30" height="30"><span>Exit</span></a></li>
            </ul>
        </div>
        <!--Edit buttons ends here-->
        <div class="third-party-carriers">
            <!--Search starts here-->
            <div class="col-sm-12 search-container">
                <div class="col-sm-10 col-md-10 col-lg-10 no-padding">
                    <div class="col-sm-12 col-md-6 col-lg-6 no-padding first-col">
                        <div class="form-group">
                            <label class="control-label">Supplier Name </label>
                            <input class="form-control" placeholder="">
                        </div>
                    </div>
                    <div class="col-sm-2 col-md-2 col-lg-2 button-contr no-right-padding">
                        <button type="button" class="btn btn-primary">Search</button>
                    </div>
                    <div class="col-sm-12 col-md-6 col-lg-6 no-right-padding">
                    </div>
                </div>
            </div>
            <!--Search ends here-->
            <!--Grid starts here-->
            <div class="col-sm-12 col-md-6 col-lg-6 grid-contr">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr> 
                                <th>Company Name</th>
                                <th>Address</th>
                                <th>City</th>
                                <th>Phone</th>          
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var tempSupplierList in supplierList)
                            {
                                <tr>
                                    <td>@Html.Raw(tempSupplierList.CompanyName)</td>
                                    <td>@Html.Raw(tempSupplierList.Address)</td>
                                    <td>@Html.Raw(tempSupplierList.City)</td>
                                    <td>@Html.Raw(tempSupplierList.Phone)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-12 button-wrap">
                    <div class="col-sm-2 col-md-3 no-padding record-info">@Html.Raw(supplierList.Count) Records</div>
                </div>
            </div>
            <!--Grid ends here-->
            <div class="col-sm-12 col-md-6 col-lg-6 no-left-padding">
                <div class="right-section">
                    <div class="col-sm-10 col-md-12 col-lg-12 general-info no-padding">
                        <div class="col-sm-12 col-md-12 col-lg-12 no-right-padding no-left-padding first-col">
                            <div class="col-sm-12 col-md-12 col-lg-10 no-padding">
                                <div class="form-group">
                                    <label class="control-label">Id</label>
                                    <input class="form-control" placeholder="" name="Id" value="@Html.Raw(supplier.Id)">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-10 no-padding">
                                <div class="form-group">
                                    <label class="control-label">Company name</label>
                                    <input class="form-control" placeholder="" name="CompanyName" value="@Html.Raw(supplier.CompanyName)">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-10 no-padding">
                                <div class="form-group">
                                    <label class="control-label">Contact Name</label>
                                    <input class="form-control" placeholder="" name="ContactName" value="@Html.Raw(supplier.ContactName)">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-10 no-padding">
                                <div class="form-group">
                                    <label class="control-label">Contact Title</label>
                                    <input class="form-control" placeholder="" name="ContactTitle" value="@Html.Raw(supplier.ContactTitle)">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-10 no-padding">
                                <div class="form-group">
                                    <label class="control-label">Address</label>
                                    <input class="form-control" placeholder="" name="Address" value="@Html.Raw(supplier.Address)">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-10 no-padding">
                                <div class="form-group">
                                    <label class="control-label">City</label>
                                    <input class="form-control" placeholder="" name="City" value="@Html.Raw(supplier.City)">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-10 no-padding">
                                <div class="form-group">
                                    <label class="control-label">Fax</label>
                                    <input class="form-control" placeholder="" name="Fax" value="@Html.Raw(supplier.Fax)">
                                </div>
                            </div>
                            <div class="col-sm-12 col-md-12 col-lg-10 no-padding">
                                <div class="form-group">
                                    <label class="control-label">Phone</label>
                                    <input class="form-control" placeholder="" name="Phone" value="@Html.Raw(supplier.Phone)">
                                </div>
                            </div>               
                        </div>
                    </div>
                </div><!--right-section Ends-->
            </div>
        </div><!--third-party-carriers Ends-->
    </div>
}
<script>
    $("#Supplier_Add").click(function () {
       // alert("test check point");
        $("form").submit();
    });
</script>

