@{
    ViewBag.Title = "Class";
    Layout = "~/Views/Shared/_MainLayoutWithOutHeader.cshtml";
}
@using MOP.Common
@using MOP.Models.SMS
@{
    var classList = ViewBag.ClassList == null ? new List<Class>() : ViewBag.ClassList as List<Class>;
    var gradeList = ViewBag.GradeList == null ? new List<Grade>() : ViewBag.GradeList as List<Grade>;
    var classObj = ViewBag.Class == null ? new Class() : ViewBag.Class as Class;
}
@using (Html.BeginForm("Class", "SMS", FormMethod.Post))
{
    <div class="inner-window">
        <div class="inner-head">
            Class 
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="third-party-carriers">
            <!--Search starts here-->
            <div class="col-sm-12 search-container">
                <div class="col-sm-8 col-md-8 col-lg-8 no-padding no-margin">
                    <div class="col-sm-12 col-md-8 col-lg-8 no-padding first-col">
                        <div class="form-group">
                            <input class="searchTextBox" placeholder="Search . . .">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 button-contr no-right-padding">
                        <button type="button" class="btn-primary searchButton">Search</button>
                    </div>
                </div>

            </div>
            <!--Search ends here-->
            <!--Grid starts here-->
            <div class="col-sm-12 col-md-6 col-lg-6 grid-contr">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Class Name</th>
                                <th>Grade</th>
                                <th> </th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var cClass in classList)
                            {
                                <tr>                                   
                                    <td>@Html.Raw(cClass.ClassName)</td>
                                    <td>@Html.Raw(SmsRepository.GetGradeById(cClass.GradeId).Grades)</td>
                                    <td><a href='@Url.Action("index", "SMS", new { v = cClass.Id,p="Class" })'><img src="/Content/MainLayout/images/edit.png" width="16" height="16"></a></td>
                                    <td><a href='@Url.Action("DeleteClass", "SMS", new { id = cClass.Id })'><img src="/Content/MainLayout/images/delete1.png" width="16" height="16"></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-12 button-wrap">
                    <div class="col-sm-2 col-md-3 no-padding record-info">@Html.Raw(classList.Count) Records</div>
                </div>
            </div>
            <!--Grid ends here-->
            <div class="col-sm-12 col-md-6 col-lg-6 no-left-padding">
                <div class="right-section">
                    <div class="col-sm-10 col-md-12 col-lg-12 general-info no-padding">
                        <div class="col-sm-12 col-md-12 col-lg-12 no-right-padding no-left-padding first-col">
                            <div class="col-sm-12 col-md-12 col-lg-10 no-padding">
                                <h2>Class Information</h2>
                                <input type="hidden" name="Id" value="@Html.Raw(classObj.Id)" />
                                <div class="form-group">
                                    <label class="control-label">Class Name :</label>
                                    <input class="form-control" placeholder="Class Name" name="ClassName" value="@Html.Raw(classObj.ClassName)">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-10 address-info no-padding">
                        <h2>Grade Information</h2>
                        <div class="col-sm-10 col-md-12 col-lg-12 no-padding">
                            <div class="form-group">
                                <label class="control-label">Grade :</label>
                                <select class="selectpicker" name="GradeId">
                                    <option value="-1">Select Grade </option>
                                    @foreach (var grade in gradeList)
                                    {
                                        if (classObj.GradeId == grade.Id)
                                        {
                                            <option selected="selected" name="GradeId" value='@Html.Raw(grade.Id)'>@Html.Raw(grade.Grades)</option>
                                        }
                                        else
                                        {
                                        
                                             <option  name="GradeId" value='@Html.Raw(grade.Id)'>@Html.Raw(grade.Grades)</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-10 col-md-12 col-lg-12 no-right-padding address-cntr no-left-padding">
                        <div class="col-sm-12 bottom-header class-header">
                            <button type="submit" class="btn-primary Class-Menu-Items"><span class="glyphicon glyphicon-file"></span> Save</button>
                            <button class="btn-primary Class-Menu-Items"><span class="glyphicon glyphicon-print"></span> View</button>
                            <button class="btn-primary Class-Menu-Items"><span class="glyphicon glyphicon-log-out"></span> Exit</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div><!--right-section Ends-->
            </div>
        </div><!--Class Ends-->
    </div>
}
<script>
    $("#Add_Class").click(function () {
        $("form").submit();
    });
</script>
