@{
    ViewBag.Title = "Grade";
    Layout = "~/Views/Shared/_MainLayoutWithOutHeader.cshtml";
}
@using MOP.Common
@using MOP.Models.SMS
@{
    var gradeList = ViewBag.GradeList == null ? new List<Grade>() : ViewBag.GradeList as List<Grade>;
    var gra = ViewBag.Grade == null ? new Grade() : ViewBag.Grade as Grade;
}
@using (Html.BeginForm("Grade", "SMS", FormMethod.Post))
{
    <div class="inner-window">
        <div class="inner-head">
            Grade 
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <div class="third-party-carriers">
            <!--Search starts here-->
            <div class="col-sm-12 search-container">
                <div class="col-sm-8 col-md-8 col-lg-8 no-padding no-margin">
                    <div class="col-sm-12 col-md-8 col-lg-8 no-padding first-col">
                        <div class="form-group">
                            <input class="searchTextBox" placeholder="Search . . . ">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 button-contr no-right-padding">
                        <button type="button" class="btn-primary searchButton">Search</button>
                    </div>
                </div>

            </div>
            <!--Search ends here-->
            <!--Grid starts here-->
            <div class="col-sm-12 col-md-6 col-lg-6 grid-contr">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Grade</th>
                                <th> </th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var grade in ViewBag.gradeList)
                            {
                                <tr>
                                    <td>@Html.Raw(grade.Grades)</td>
                                    <td><a href='@Url.Action("index", "SMS", new { v = grade.Id,p="Grade" })'><img src="/Content/MainLayout/images/edit.png" width="16" height="16"></a></td>
                                    <td><a href='@Url.Action("DeleteGrade", "SMS", new { id = grade.Id })'><img src="/Content/MainLayout/images/delete1.png" width="16" height="16"></a></td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-12 button-wrap">
                    <div class="col-sm-2 col-md-3 no-padding record-info">@Html.Raw(gradeList.Count) Records</div>
                </div>
            </div>
            <!--Grid ends here-->
            <div class="col-sm-12 col-md-6 col-lg-6 no-left-padding">
                <div class="right-section">
                    <div class="col-sm-12 col-md-12 col-lg-10 address-info no-padding">
                        <h2>Grade Information</h2>
                        <div class="col-sm-10 col-md-12 col-lg-12 no-right-padding address-cntr no-left-padding">
                        </div>
                        <input type="hidden" name="Id" value="@Html.Raw(gra.Id)" />
                        <div class="col-sm-10 col-md-12 col-lg-12 no-right-padding address-cntr no-left-padding">
                            <div class="form-group">
                                <label class="control-label">Grade Name :</label>
                                <input class="form-control" placeholder="" name="Grades" value="@Html.Raw(gra.Grades)">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-10 col-md-12 col-lg-12 no-right-padding address-cntr no-left-padding">
                        <div class="col-sm-12 bottom-header Grade-header">
                            <button type="submit" class="btn-primary Branch-Menu-Items"><span class="glyphicon glyphicon-file"></span> Save</button>
                            <button class="btn-primary Branch-Menu-Items"><span class="glyphicon glyphicon-print"></span> View</button>
                            <button class="btn-primary Branch-Menu-Items"><span class="glyphicon glyphicon-log-out"></span> Exit</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div><!--right-section Ends-->
            </div>
        </div><!--third-party-carriers Ends-->
    </div>
}
<script>
    $("#Add_Grade").click(function () {
        $("form").submit();
    });
    
    
    $("#EditButton").click(function () {

    });
</script>
