@using MOP.Common
@using MOP.Models.SMS

@{

    var sessionList = ViewBag.SessionList == null ? new List<Session>() : ViewBag.SessionList as List<Session>;
    var sessionObj = ViewBag.SessionObj == null ? new Session() : ViewBag.SessionObj as Session;
}

@using (Html.BeginForm("Session", "SMS", FormMethod.Post, new { @class = "form-horizontal" }))
{
    <div class="inner-window">
        <div class="inner-head">
            Session Form
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>
        <!--Edit buttons starts here-->
        <div class="col-sm-12 bottom-header">
            <ul>
                <li id="Session_Add"><a href="#"><img src="/Content/MainLayout/images/icon-add-white.png" width="30" height="30"><span>Add</span></a></li>
                <li><a href="#"><img src="/Content/MainLayout/images/icon-edit-white.png" width="30" height="30"><span>Edit</span></a></li>
                <li><a href="#"><img src="/Content/MainLayout/images/icon-delete-white.png" width="30" height="30"><span>Delete</span></a></li>
                <li><a href="#"><img src="~/Content/MainLayout/images/icon-print-white.png" width="30" height="30"><span>Print</span></a></li>
                <li><a href="#"><img src="/Content/MainLayout/images/icon-exit-white.png" width="30" height="30"><span>Exit</span></a></li>
            </ul>
        </div>
        <!--Edit buttons ends here-->
        <div class="third-party-carriers">
            <!--Search starts here-->
            <div class="col-sm-12 search-container">
                <div class="col-sm-8 col-md-8 col-lg-8 no-padding">
                    <div class="col-sm-12 col-md-4 col-lg-4 no-padding first-col">
                        <div class="form-group">
                            <input class="form-control" placeholder="Search By Session">
                        </div>
                    </div>
                    <div class="col-sm-12 col-md-4 col-lg-4 button-contr no-right-padding">
                        <button type="button" class="btn btn-primary" style="margin:9px 0px;">Search</button>
                    </div>
                </div>

            </div>
            <!--Search ends here-->
            <!--Grid starts here-->
            <div class="col-sm-12 col-md-6 col-lg-6 grid-contr">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Session</th>
                                <th>IsCurrent</th>
                                <th> </th>
                                <th> </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var sesList in sessionList)
                            {
                                <tr>
                                    <td>@Html.Raw(sesList.SessionName)</td>
                                    <td>@Html.Raw(sesList.IsCurrent)</td>
                                    <td><a href='@Url.Action("Session", "SMS", new { id = sesList.Id })'><img src="/Content/MainLayout/images/edit.png" width="16" height="16"></a></td>
                                    <td><a href='@Url.Action("DeleteSession", "SMS", new { id = sesList.Id })'><img src="/Content/MainLayout/images/delete1.png" width="16" height="16"></a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-12 button-wrap">
                    <div class="col-sm-2 col-md-3 no-padding record-info">0 Records</div>
                </div>
            </div>
            <!--Grid ends here-->
            <div class="col-sm-12 col-md-6 col-lg-6 no-left-padding">
                <div class="right-section">
                    <div class="col-sm-12 col-md-12 col-lg-10 address-info no-padding">
                        <h2>Session Information</h2>
                        <input type="hidden" name="Id" value="@Html.Raw(sessionObj.Id)" />
                        <div class="col-sm-10 col-md-12 col-lg-12 no-right-padding address-cntr no-left-padding">
                            <div class="form-group">
                                <label class="control-label">Session Name :</label>
                                <input name="SessionName" value="@Html.Raw(sessionObj.SessionName)" class="form-control" placeholder="">
                            </div>
                        </div>
                        <div class="col-sm-10 col-md-12 col-lg-12 no-right-padding address-cntr no-left-padding">
                            <div class="form-group">
                                <label class="control-label">IsCurrent :</label>
                                <input name="IsCurrent" value="@Html.Raw(sessionObj.IsCurrent)" type="checkbox">
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div><!--right-section Ends-->
            </div>
        </div><!--third-party-carriers Ends-->
    </div>
}
<!--End Session Form-->

<script>
    $("#Session_Add").click(function () {
       // alert("test check point");
        $("form").submit();
    });
</script>


